In [67]:
# # To find out where the pyspark
# import findspark
# findspark.init()

# # Creating Spark Context
# from pyspark import SparkContext, SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import UserDefinedFunction as udf
from pyspark.sql.types import StringType, IntegerType, DecimalType, DoubleType

In [122]:
import numpy as np
import pandas as pd
import holidays

In [44]:
%matplotlib inline
pd.options.display.max_columns = 999
pd.options.display.max_rows = 999

In [2]:
"""SimpleApp.py"""
from pyspark.sql import SparkSession

logFile = "/home/arditto_trianggada3/misc/"  # Should be some file on your system
spark = SparkSession.builder.appName("FirstSparkApp").getOrCreate()

In [3]:
logData = spark.read.text(logFile).cache()

numAs = logData.filter(logData.value.contains('a')).count()
numBs = logData.filter(logData.value.contains('b')).count()

print("Lines with a: %i, lines with b: %i" % (numAs, numBs))

Lines with a: 12, lines with b: 1

# Test read csv using pyspark

In [327]:
df = spark.read\
    .format("com.databricks.spark.csv")\
    .option("header", "true") \
    .option("mode", "DROPMALFORMED")\
    .load("/home/arditto_trianggada3/Workspace/ds-ovo-test/dataset/trip_merge_4_fe_all.csv")

In [5]:
# spark.stop()

In [6]:
type(df)

pyspark.sql.dataframe.DataFrame

In [7]:
df.columns[0:10]

['medallion',
 'hack_license',
 'vendor_id',
 'rate_code',
 'store_and_fwd_flag',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_time_in_secs',
 'trip_distance']

In [8]:
df.head(2)

[Row(medallion='91F6EB84975BBC867E32CB113C7C2CD5', hack_license='AD8751110E6292079EB10EB9481FE1A6', vendor_id='CMT', rate_code='1', store_and_fwd_flag='N', pickup_datetime='2013-04-04 18:47:45', dropoff_datetime='2013-04-04 19:00:25', passenger_count='1', trip_time_in_secs='759', trip_distance='2.5', pickup_longitude='-73.95785500000001', pickup_latitude='40.76532', dropoff_longitude='-73.97627299999999', dropoff_latitude='40.785647999999995', payment_type='CRD', fare_amount='11.0', surcharge='1.0', mta_tax='0.5', tip_amount='2.5', tolls_amount='0.0', total_amount='15.0', pickup_longitude_bin='-73.955', pickup_latitude_bin='40.77', dropoff_longitude_bin='-73.975', dropoff_latitude_bin='40.79', pickup_addr_zipcode='10065.0', pickup_addr_place='E 67th St', pickup_addr_neighborhood=None, pickup_addr_sublocal='Manhattan', pickup_addr_local='New York', pickup_addr_administrative_area_level_2='New York County', dropoff_addr_zipcode='10024.0', dropoff_addr_place='W 83rd St', dropoff_addr_neighborhood=None, dropoff_addr_sublocal='Manhattan', dropoff_addr_local='New York', dropoff_addr_administrative_area_level_2='New York County', pickup_to_dropoff_zipcode='10065.0_10024.0', pickup_to_dropoff_place='E 67th St_W 83rd St', pickup_to_dropoff_neighborhood='nan_nan', pickup_to_dropoff_sublocal='Manhattan_Manhattan', pickup_to_dropoff_local='New York_New York', pickup_to_dropoff_administrative_area_level_2='New York County_New York County', pickup_month='4', pickup_dayofweek='Thursday', pickup_hour='18', dropoff_month='4', dropoff_dayofweek='Thursday', dropoff_hour='19', is_public_holiday='0', is_weekend='0', is_holiday='0', trip_night='1', trip_late_night='0', trip_dist_euclidean='0.027430827694385086', trip_dist_manhattan='0.038745999999974856'),
 Row(medallion='C1B9DA774DC2BBC6DE27CE994E7F44A0', hack_license='E1B595FD55E4C82C1E213EB17438107A', vendor_id='CMT', rate_code='1', store_and_fwd_flag='N', pickup_datetime='2013-04-04 17:59:50', dropoff_datetime='2013-04-04 18:21:48', passenger_count='1', trip_time_in_secs='1318', trip_distance='3.6', pickup_longitude='-73.98288000000001', pickup_latitude='40.75499', dropoff_longitude='-74.009186', dropoff_latitude='40.715374', payment_type='CRD', fare_amount='16.5', surcharge='1.0', mta_tax='0.5', tip_amount='3.6', tolls_amount='0.0', total_amount='21.6', pickup_longitude_bin='-73.98', pickup_latitude_bin='40.755', dropoff_longitude_bin='-74.005', dropoff_latitude_bin='40.72', pickup_addr_zipcode='10036.0', pickup_addr_place='Verizon Plaza', pickup_addr_neighborhood=None, pickup_addr_sublocal='Manhattan', pickup_addr_local='New York', pickup_addr_administrative_area_level_2='New York County', dropoff_addr_zipcode='10007.0', dropoff_addr_place='Warren St', dropoff_addr_neighborhood=None, dropoff_addr_sublocal='Manhattan', dropoff_addr_local='New York', dropoff_addr_administrative_area_level_2='New York County', pickup_to_dropoff_zipcode='10036.0_10007.0', pickup_to_dropoff_place='Verizon Plaza_Warren St', pickup_to_dropoff_neighborhood='nan_nan', pickup_to_dropoff_sublocal='Manhattan_Manhattan', pickup_to_dropoff_local='New York_New York', pickup_to_dropoff_administrative_area_level_2='New York County_New York County', pickup_month='4', pickup_dayofweek='Thursday', pickup_hour='17', dropoff_month='4', dropoff_dayofweek='Thursday', dropoff_hour='18', is_public_holiday='0', is_weekend='0', is_holiday='0', trip_night='1', trip_late_night='0', trip_dist_euclidean='0.04755452756572936', trip_dist_manhattan='0.06592199999999337')]

In [9]:
df1 = df.limit(1000).toPandas()

In [10]:
df1.head(5)

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,...,dropoff_month,dropoff_dayofweek,dropoff_hour,is_public_holiday,is_weekend,is_holiday,trip_night,trip_late_night,trip_dist_euclidean,trip_dist_manhattan
0,91F6EB84975BBC867E32CB113C7C2CD5,AD8751110E6292079EB10EB9481FE1A6,CMT,1,N,2013-04-04 18:47:45,2013-04-04 19:00:25,1,759,2.5,...,4,Thursday,19,0,0,0,1,0,0.027430827694385086,0.038745999999974856
1,C1B9DA774DC2BBC6DE27CE994E7F44A0,E1B595FD55E4C82C1E213EB17438107A,CMT,1,N,2013-04-04 17:59:50,2013-04-04 18:21:48,1,1318,3.6,...,4,Thursday,18,0,0,0,1,0,0.04755452756572936,0.06592199999999337
2,9BA84250355AB3FC031C9252D395BF8A,16BB0D96A0DCC853AEC7F55C8D6C71E0,CMT,1,N,2013-04-04 18:12:01,2013-04-04 18:25:24,1,799,1.9,...,4,Thursday,18,0,0,0,1,0,0.026041115375480605,0.03564399999997647
3,205A696DF62AD03C88DA8C5EC5248639,579C41EA5EC846F8B641A42F9EE3E855,CMT,1,N,2013-04-04 20:12:57,2013-04-04 20:29:55,1,1017,3.6,...,4,Thursday,20,0,0,0,1,1,0.04759690756761306,0.06103600000000142
4,EE75E5927D00739AC342810C336A825E,1B4E92431F9DA4D49874EC76E769E874,CMT,1,N,2013-04-05 02:48:11,2013-04-05 02:51:21,2,189,0.7,...,4,Friday,2,0,0,0,0,1,0.008904293907999591,0.012520000000002085

In [11]:
df.count()

14802407

# Data Preparation to Raw Data using Pyspark

In [272]:
# df_data = spark.read\
#     .format("com.databricks.spark.csv")\
#     .option("header", "true") \
#     .option("mode", "DROPMALFORMED")\
#     .load("/home/arditto_trianggada3/Workspace/ds-ovo-test/dataset/trip_data_4.csv")

# df_fare = spark.read\
#     .format("com.databricks.spark.csv")\
#     .option("header", "true") \
#     .option("mode", "DROPMALFORMED")\
#     .load("/home/arditto_trianggada3/Workspace/ds-ovo-test/dataset/trip_fare_4.csv")

In [ ]:
df_data = spark.read.table("nyc_taxi_db.trip_data_4")
df_fare = spark.read.table("nyc_taxi_db.trip_fare_4")

In [273]:
lcol = [x.strip() for x in df_data.columns]
for i in range(len(lcol)):
    df_data = df_data.withColumnRenamed(df_data.columns[i], lcol[i])
    
lcol = [x.strip() for x in df_fare.columns]
for i in range(len(lcol)):
    df_fare = df_fare.withColumnRenamed(df_fare.columns[i], lcol[i])

In [274]:
df_data.createOrReplaceTempView("tbl_df_data")
df_fare.createOrReplaceTempView("tbl_df_fare")

In [275]:
df_merge = spark.sql("""
SELECT
    t0.*,
    t1.payment_type,
    t1.fare_amount,
    t1.surcharge,
    t1.mta_tax,
    t1.tip_amount,
    t1.tolls_amount,
    t1.total_amount
FROM tbl_df_data t0
JOIN tbl_df_fare t1 ON
    (t0.medallion = t1.medallion) AND (t0.hack_license = t1.hack_license) AND (t0.vendor_id = t1.vendor_id) AND (t0.pickup_datetime = t1.pickup_datetime)
""")

df_merge.createOrReplaceTempView("tbl_df_merge")

In [276]:
df = df_merge
df.createOrReplaceTempView("tbl_df")

In [277]:
BB = (-74.25, -73.75, 40.60, 41.05)

In [278]:
df = df.filter("""
(pickup_longitude>={}) AND (pickup_longitude<={}) AND (dropoff_longitude<={}) AND (dropoff_longitude<={}) AND
(pickup_latitude>={}) AND (pickup_latitude<={}) AND (dropoff_latitude<={}) AND (dropoff_latitude<={})
""".format(BB[0],BB[1],BB[0],BB[1],BB[2],BB[3],BB[2],BB[3]))

In [279]:
df.createOrReplaceTempView("tbl_df")

In [280]:
# For this plot and further analysis, we need a function to calculate the distance in miles between locations in lon,lat coordinates.
# This function is based on https://stackoverflow.com/questions/27928/
# calculate-distance-between-two-latitude-longitude-points-haversine-formula 
# return distance in miles
def distance(lat1, lon1, lat2, lon2):
    p = 0.017453292519943295 # Pi/180
    a = 0.5 - np.cos((lat2 - lat1) * p)/2 + np.cos(lat1 * p) * np.cos(lat2 * p) * (1 - np.cos((lon2 - lon1) * p)) / 2
    return 0.6213712 * 12742 * np.arcsin(np.sqrt(a)) # 2*R*asin...

# First calculate two arrays with datapoint density per sq mile
n_lon, n_lat = 100, 90 # number of grid bins per longitude, latitude dimension
density_pickup, density_dropoff = np.zeros((n_lat, n_lon)), np.zeros((n_lat, n_lon)) # prepare arrays

# To calculate the number of datapoints in a grid area, the numpy.digitize() function is used. 
# This function needs an array with the (location) bins for counting the number of datapoints
# per bin.
bins_lon = np.zeros(n_lon+1) # bin
bins_lat = np.zeros(n_lat+1) # bin
delta_lon = (BB[1]-BB[0]) / n_lon # bin longutide width
delta_lat = (BB[3]-BB[2]) / n_lat # bin latitude height
bin_width_miles = distance(BB[2], BB[1], BB[2], BB[0]) / n_lon # bin width in miles
bin_height_miles = distance(BB[3], BB[0], BB[2], BB[0]) / n_lat # bin height in miles
for i in range(n_lon+1):
    bins_lon[i] = BB[0] + i * delta_lon
for j in range(n_lat+1):
    bins_lat[j] = BB[2] + j * delta_lat

In [281]:
# def digitize_lonlat(x, bins):
#     res = np.digitize(x, bins)
#     return res

# spark.udf.register("udf_digitize_lon", lambda x: digitize_lonlat(x,bins_lon), IntegerType())
# spark.udf.register("udf_digitize_lat", lambda x: digitize_lonlat(x,bins_lat), IntegerType())

In [282]:
def digitize_lon(x):
    res = np.digitize(x, bins_lon)
    return res

def digitize_lat(x):
    res = np.digitize(x, bins_lat)
    return res

spark.udf.register("udf_digitize_lon", digitize_lon, IntegerType())
spark.udf.register("udf_digitize_lat", digitize_lat, IntegerType())

In [283]:
df.createOrReplaceTempView("tbl_df")

In [284]:
df = spark.sql("""
SELECT
    *,
    udf_digitize_lon(t0.pickup_longitude) pickup_longitude_inds,
    udf_digitize_lat(t0.pickup_latitude) pickup_latitude_inds,
    udf_digitize_lon(t0.dropoff_longitude) dropoff_longitude_inds,
    udf_digitize_lat(t0.dropoff_latitude) dropoff_latitude_inds
FROM tbl_df t0
""")

In [285]:
df.createOrReplaceTempView("tbl_df")

In [286]:
def bin_lonlat(x,bins):
    res = bins[x] if x<len(bins) else None
    return res

spark.udf.register("udf_bin_lon", lambda x: bin_lonlat(x, bins_lon), DoubleType())
spark.udf.register("udf_bin_lat", lambda x: bin_lonlat(x, bins_lat), DoubleType())

In [287]:
df = spark.sql("""
SELECT
    *,
    udf_bin_lon(t0.pickup_longitude_inds) pickup_longitude_bin,
    udf_bin_lat(t0.pickup_latitude_inds) pickup_latitude_bin,
    udf_bin_lon(t0.dropoff_longitude_inds) dropoff_longitude_bin,
    udf_bin_lat(t0.dropoff_latitude_inds) dropoff_latitude_bin
FROM tbl_df t0
""")

In [288]:
df.createOrReplaceTempView("tbl_df")

In [289]:
# df1 = df.limit(10).toPandas()
# df1

In [290]:
df_ll = spark.read\
    .format("com.databricks.spark.csv")\
    .option("header", "true") \
    .option("mode", "DROPMALFORMED")\
    .load("/home/arditto_trianggada3/Workspace/ds-ovo-test/dataset/map_address.csv")

In [291]:
df_ll.createOrReplaceTempView("tbl_df_ll")

In [292]:
# dln = np.round(bins_lon[1]-bins_lon[0],3)
# dlt = np.round(bins_lat[1]-bins_lat[0],3)
# minln = bins_lon[0]
# minlt = bins_lat[0]
# Nln = len(bins_lon)
# Nlt = len(bins_lat)

# # x = {
# #     'pickup_longitude':-74.001366,
# #     'pickup_latitude':40.727348,
# #     'dropoff_longitude':-73.993782,
# #     'dropoff_latitude':40.727249
# # }

In [293]:
# def idx_lonlat(lon,lat,bins_lon,bins_lat):
#     dln = np.round(bins_lon[1]-bins_lon[0],3)
#     dlt = np.round(bins_lat[1]-bins_lat[0],3)
#     minln = bins_lon[0]
#     minlt = bins_lat[0]
#     Nln = len(bins_lon)
#     Nlt = len(bins_lat)
#     res = (int(np.round((lon - bins_lon[0])/dln)))*Nlt + int(np.round((lat - bins_lat[0])/dlt))
#     return res

# spark.udf.register("udf_idx_lonlat", lambda x: idx_lonlat(x, bins_lon,bins_lat), DoubleType())

In [294]:
# df = spark.sql("""
# SELECT
#     *,
#     udf_idx_lonlat(t0.pickup_longitude,  t0.pickup_latitude) pickup_addr_idx,
#     udf_idx_lonlat(t0.dropoff_longitude, t0.dropoff_latitude) dropoff_addr_idx
# FROM tbl_df t0
# """)

In [295]:
# df.createOrReplaceTempView("tbl_df")

In [296]:
df = spark.sql("""
SELECT
    t0.*,
    t1.addr_zipcode pickup_addr_zipcode,
    t1.addr_place pickup_addr_place,
    t1.addr_neighborhood pickup_addr_neighborhood,
    t1.addr_sublocal pickup_addr_sublocal,
    t1.addr_local pickup_addr_local,
    t1.addr_administrative_area_level_2 pickup_addr_administrative_area_level_2,
    t2.addr_zipcode dropoff_addr_zipcode,
    t2.addr_place dropoff_addr_place,
    t2.addr_neighborhood dropoff_addr_neighborhood,
    t2.addr_sublocal dropoff_addr_sublocal,
    t2.addr_local dropoff_addr_local,
    t2.addr_administrative_area_level_2 dropoff_addr_administrative_area_level_2
FROM tbl_df t0
LEFT JOIN tbl_df_ll t1 ON (t0.pickup_longitude_bin = t1.longitude) AND (t0.pickup_latitude_bin = t1.latitude)
LEFT JOIN tbl_df_ll t2 ON (t0.dropoff_longitude_bin = t2.longitude) AND (t0.dropoff_latitude_bin = t2.latitude)
""")

In [297]:
df.createOrReplaceTempView("tbl_df")

In [298]:
for c in ["pickup_longitude_inds","pickup_latitude_inds","dropoff_longitude_inds","dropoff_latitude_inds"]:
    df = df.drop(c)

In [299]:
df.createOrReplaceTempView("tbl_df")

In [300]:
df = spark.sql("""
SELECT
    *,
    CONCAT(pickup_addr_zipcode,'_',dropoff_addr_zipcode) pickup_to_dropoff_zipcode,
    CONCAT(pickup_addr_place,'_',dropoff_addr_place) pickup_to_dropoff_place,
    CONCAT(pickup_addr_neighborhood,'_',dropoff_addr_neighborhood) pickup_to_dropoff_neighborhood,
    CONCAT(pickup_addr_sublocal,'_',dropoff_addr_sublocal) pickup_to_dropoff_sublocal,
    CONCAT(pickup_addr_local,'_',dropoff_addr_local) pickup_to_dropoff_local,
    CONCAT(pickup_addr_administrative_area_level_2,'_',dropoff_addr_administrative_area_level_2) pickup_to_dropoff_administrative_area_level_2
FROM tbl_df t0
""")

In [301]:
df.createOrReplaceTempView("tbl_df")

In [302]:
def getMonth(x):
    res = pd.to_datetime(x).dt.month
    return res
def getDayOfWeek(x):
    res = pd.to_datetime(x).dt.month
    return res
def getHour(x):
    res = pd.to_datetime(x).dt.month
    return res

spark.udf.register("udf_getMonth", lambda x: getMonth, IntegerType())
spark.udf.register("udf_getDayOfWeek", lambda x: getDayOfWeek, StringType())
spark.udf.register("udf_getHour", lambda x: getHour, IntegerType())

In [303]:
df = spark.sql("""
SELECT
    *,
    udf_getMonth(t0.pickup_datetime) pickup_month,
    udf_getDayOfWeek(t0.pickup_datetime) pickup_dayofweek,
    udf_getHour(t0.pickup_datetime) pickup_hour,
    udf_getMonth(t0.dropoff_datetime) dropoff_month,
    udf_getDayOfWeek(t0.dropoff_datetime) dropoff_dayofweek,
    udf_getHour(t0.dropoff_datetime) dropoff_hour
FROM tbl_df t0
""")

In [304]:
df.createOrReplaceTempView("tbl_df")

In [305]:
us_holidays = holidays.UnitedStates()

spark.udf.register("udf_is_public_holiday", lambda x: 1 if x in us_holidays else 0, IntegerType())
spark.udf.register("udf_is_weekend", lambda x: 1 if x in ['Saturday','Sunday'] else 0, IntegerType())
spark.udf.register("udf_is_holiday", lambda x,y: max(x['is_public_holiday'],x['is_weekend']), IntegerType())

In [306]:
df = spark.sql("""
SELECT
    *,
    udf_is_public_holiday(t0.pickup_datetime) is_public_holiday,
    udf_is_weekend(t0.pickup_dayofweek) is_weekend
FROM tbl_df t0
""")

In [307]:
df.createOrReplaceTempView("tbl_df")

In [308]:
df = spark.sql("""
SELECT
    *,
    udf_is_holiday(t0.is_public_holiday,t0.is_weekend) is_holiday
FROM tbl_df t0
""")

In [309]:
df.createOrReplaceTempView("tbl_df")

In [310]:
def late_night (x):
    if (x <= 6) or (x >= 20):
        return 1
    else:
        return 0


def night (x,y):
    if ((x <= 20) and (x >= 16)) and (not(y in ['Saturday','Sunday'])):
        return 1
    else:
        return 0
    
spark.udf.register("udf_late_night", late_night, IntegerType())
spark.udf.register("udf_night", night, IntegerType())

In [311]:
df = spark.sql("""
SELECT
    *,
    udf_late_night(t0.pickup_hour) trip_night,
    udf_night(t0.pickup_hour,t0.pickup_dayofweek) trip_late_night
FROM tbl_df t0
""")

In [312]:
df.createOrReplaceTempView("tbl_df")

In [313]:
def manhattan(pickup_lat, pickup_long, dropoff_lat, dropoff_long):
    return np.abs(dropoff_lat - pickup_lat) + np.abs(dropoff_long - pickup_long)

def euclidan(pickup_lat, pickup_long, dropoff_lat, dropoff_long):
    return (np.abs(pickup_lat-dropoff_lat) ** 2 + np.abs(pickup_long-dropoff_long)  ** 2) ** 0.5

spark.udf.register("udf_manhattan", manhattan, DoubleType())
spark.udf.register("udf_euclidan", euclidan, DoubleType())

In [314]:
df = spark.sql("""
SELECT
    *,
    udf_manhattan(pickup_latitude, pickup_longitude, dropoff_latitude, dropoff_longitude) trip_dist_manhattan,
    udf_euclidan(pickup_latitude, pickup_longitude, dropoff_latitude, dropoff_longitude) trip_dist_euclidean
FROM tbl_df t0
""")

In [315]:
df.createOrReplaceTempView("tbl_df")

In [316]:
# for c in ["pickup_addr_idx","dropoff_addr_idx"]:
#     df = df.drop(c)